@media screen and (max-width: 1023px) {
    header {
        background: red; //placeholder background
        padding: 1.5rem 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    

        .logo_button_wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
        }
    
        .hamburger {
            border: none;
            background: none;
        }
    
        nav {
            width: 100%;
            
            .nav-ul {
                list-style-type: none;
                position: absolute;
                padding: 1rem;
                background: $white;
                width: 85%;
                top: -999rem;
                transition: 2s;
                left: 0;
                right: 0;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                justify-content: center;
                align-items: center;
                border-radius: .25rem;
    
                &.show {
                    top: 5rem;
                    transition: 0.3s;
                }

                a {
                    color: $very-dark-blue;
                    font-weight: 700;
                    font-family: Overpass, sans-serif;
                    text-decoration: none;
                    cursor: pointer;

                    &.signup {
                        background: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                        color: #fff;
                        padding: .5rem 1.5rem;
                        border-radius: 1rem;
                    }
                }
    
                .hover {
                    width: 100%;
                    padding: 1rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    span {
                        color: $very-dark-blue;
                        font-weight: 700;
                        font-family: Overpass, sans-serif;
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        margin-left: 1rem;
                        cursor: pointer;
                    }

                    .dropdown {
                        display: none;
                    }

                    .arrow_desktop {
                        display: none;
                    }

                    .arrow_mobile {
                        transform: rotateX(180deg);
                        transition: .2s;
                    }
                    
                    &:hover {
                        .arrow_mobile {
                            transform: rotateX(0deg);
                            transition: .2s;
                        }

                        span {
                            color: $very-dark-grayish-blue;
                        }

                        img {
                            opacity: 75%;
                        }

                        .border {
                            background: $grayish-blue;
                            height: .005rem;
                            width: 100%;
                            margin-top: 1rem;
                        }

                        .dropdown {
                            border-radius: .25rem;
                            list-style-type: none;
                            width: 100%;
                            margin-top: 1rem;
                            padding: 1rem;
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                            background: #efeff1;
                            
                            a {
                                color: $very-dark-grayish-blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
