@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

@media screen and (max-width: 1023px) {
  header {
    padding: 1.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .logo_button_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
  }
  header .hamburger {
    border: none;
    background: none;
  }
  header nav {
    width: 100%;
  }
  header nav .nav-ul {
    list-style-type: none;
    position: absolute;
    padding: 1rem;
    background: white;
    width: 85%;
    top: -999rem;
    -webkit-transition: 2s;
    transition: 2s;
    left: 0;
    right: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: .25rem;
  }
  header nav .nav-ul.show {
    top: 5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header nav .nav-ul a {
    color: #1f3f5b;
    font-weight: 700;
    font-family: Overpass, sans-serif;
    text-decoration: none;
    cursor: pointer;
  }
  header nav .nav-ul a.signup {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
    background: linear-gradient(#ff8f70, #ff3d54);
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
  }
  header nav .nav-ul .hover {
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-ul .hover span {
    color: #1f3f5b;
    font-weight: 700;
    font-family: Overpass, sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
    margin-left: 1rem;
    cursor: pointer;
  }
  header nav .nav-ul .hover .dropdown {
    display: none;
  }
  header nav .nav-ul .hover .arrow_desktop {
    display: none;
  }
  header nav .nav-ul .hover .arrow_mobile {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .nav-ul .hover:hover .arrow_mobile {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .nav-ul .hover:hover span {
    color: #4b5862;
  }
  header nav .nav-ul .hover:hover img {
    opacity: 75%;
  }
  header nav .nav-ul .hover:hover .border {
    background: #c8c8cb;
    height: .005rem;
    width: 100%;
    margin-top: 1rem;
  }
  header nav .nav-ul .hover:hover .dropdown {
    border-radius: .25rem;
    list-style-type: none;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    background: #efeff1;
  }
  header nav .nav-ul .hover:hover .dropdown a {
    color: #4b5862;
  }
}

@media screen and (min-width: 1024px) {
  header {
    height: 8.75rem;
    padding: 3rem 9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .hamburger {
    display: none;
  }
  header nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  header nav .nav-ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.5rem;
  }
  header nav .nav-ul .push_right {
    margin-left: auto;
  }
  header nav .nav-ul .margin_right {
    margin-left: 3rem;
  }
  header nav .nav-ul a {
    cursor: pointer;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    height: 8.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-ul a.signup span {
    background: #fff;
    padding: .75rem 1.5rem;
    border-radius: 2rem;
    color: #ff3d54;
  }
  header nav .nav-ul .hover {
    height: 8.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  header nav .nav-ul .hover .arrow_mobile, header nav .nav-ul .hover .dropdown {
    display: none;
  }
  header nav .nav-ul .hover span {
    cursor: pointer;
    color: #fff;
    font-family: Overpass, sans-serif;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .5rem;
  }
  header nav .nav-ul .hover:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: .15rem;
  }
  header nav .nav-ul .hover:hover .dropdown {
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    list-style-type: none;
    border-radius: .25rem;
    padding: 1rem;
    position: absolute;
    top: 5.5rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
    width: 8rem;
  }
  header nav .nav-ul .hover:hover .dropdown a {
    color: #25252d;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    font-weight: 400;
  }
  header nav .nav-ul .hover:hover .dropdown a:hover {
    font-weight: 700;
  }
  header nav .nav-ul .hover:hover .arrow_desktop {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

main {
  color: #fff;
  padding: 1.5rem;
  font-family: Overpass, sans-serif;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

main .buttons_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

main .buttons_wrapper button {
  border: none;
  border-radius: 2rem;
  width: 7.5rem;
  height: 2.5rem;
  padding: 0 1rem;
  font-family: Ubuntu;
  font-weight: 700;
  cursor: pointer;
}

main .buttons_wrapper button.start {
  color: #ff3d54;
}

main .buttons_wrapper button.start:hover {
  background: #ff525d;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

main .buttons_wrapper button.learn {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

main .buttons_wrapper button.learn:hover {
  color: #ff3d54;
  background: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

@media screen and (min-width: 1024px) {
  main {
    padding: 3rem 9rem;
    gap: 2rem;
  }
  main h1 {
    font-size: 4rem;
  }
  main p {
    font-size: 1.1rem;
  }
  main .buttons_wrapper {
    margin-top: 3rem;
  }
  main .buttons_wrapper button {
    width: 9rem;
    height: 3rem;
    font-size: 1rem;
  }
}

.header_main_wrapper {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: linear-gradient(#ff8f70, #ff3d54);
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 10rem;
  overflow: hidden;
}

.header_main_wrapper .pattern_mobile {
  position: absolute;
  width: 100%;
  z-index: 0;
  width: 55rem;
  top: -5rem;
  right: -20.5rem;
}

.header_main_wrapper .pattern_desktop {
  display: none;
}

main, header {
  position: inherit;
  z-index: 2;
}

main {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 1024px) {
  .header_main_wrapper .pattern_mobile {
    display: none;
  }
  .header_main_wrapper .pattern_desktop {
    display: block;
    position: absolute;
    z-index: -2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 200rem;
    top: -65rem;
    right: -50rem;
  }
}

.future {
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.future img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.future h2 {
  font-family: Overpass, sans-serif;
  color: #1f3f5b;
}

.future .image_text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.future .image_text_container .desktop_editor {
  display: none;
}

.future .image_text_container .text_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.future .image_text_container .text_container .text_subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.future .image_text_container .text_container .text_subcontainer h3 {
  font-family: Overpass, sans-serif;
  color: #1f3f5b;
}

.future .image_text_container .text_container .text_subcontainer p {
  font-family: Ubuntu, sans-serif;
  color: #4b5862;
  line-height: 1.3;
}

@media screen and (min-width: 1024px) {
  .future {
    padding: 5rem 9rem 3rem 9rem;
    overflow-x: hidden;
  }
  .future h2 {
    font-size: 3rem;
  }
  .future .image_text_container {
    position: relative;
    padding: 9rem 0 17.5rem 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
  }
  .future .image_text_container .mobile_editor {
    display: none;
  }
  .future .image_text_container .desktop_editor {
    display: block;
    max-width: 100%;
    position: absolute;
    right: -24.5rem;
    z-index: -1;
  }
  .future .image_text_container .text_container {
    width: 50%;
    margin-right: auto;
  }
  .future .image_text_container .text_container .text_subcontainer h3 {
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */